$deep-blue: #072f87;
$navy-blue: #0d1e4c;
$royal-blue: #094abc;
$butter: #ede979;
$orange-cream: #d6a145;
$parchment: #f2eeb0;

$body-background: $royal-blue;
$body-text: $parchment;

$nav-background: $navy-blue;
$nav-text: $butter;

$button-background: $orange-cream;
$button-text: $navy-blue;

$form-text: $navy-blue;
