
html {
  height: 100%;
}

body {
  background: $body-background;
  color: $body-text;
  display: flex;
  flex-flow: column;
  font-weight: 100;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

nav {
  background: $nav-background;
  color: $nav-text;
  display: flex;
  flex: 1 1 65px;
  font-family: $header-font;
  justify-content: center;
  max-height: 65px;
  order: 1;
  width: 100%;

  .nav-content {
    align-items: center;
    display: flex;
    font-size: 2.5em;
    font-weight: 200;
    justify-content: space-between;
    width: 95%;

    .nav-title {
      order: 1;
      padding: 20px;
      width: 80%;
    }

    .nav-menu {
      order: 2;
      text-align: right;
      width: 20%;
    }
  }
}

.container-main {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  order: 2;
  text-align: center;
  width: 100%;

  .view-box {
    margin: 0 auto;
    width: 80%;
  }

  button,
  .submit {
    background: $button-background;
    color: $button-text;
    font-family: $button-font;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 3px;
  }

  .big-button {
    font-size: 1.5em;
    font-weight: bold;
    height: 60px;
    max-width: 300px;
    min-width: 150px;
    width: 90%;
  }

  .add-more,
  .remove-me {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 3px;
    padding: 1px;
    text-align: center;
    width: 10%;
  }

  form {
    margin: 20px 0;
  }

  input {
    border-radius: 3px;
    color: $form-text;
    margin: 3px auto;
    max-width: 300px;
    min-width: 150px;
    width: 90%;
  }

  .name-input {
    display: inline-block;
    width: 85%;
  }

  legend {
    color: $body-text;
    font-size: 2em;
  }
}

.button-spacer {
  height: 30px;
}

.shares-list {
  font-size: 1.5em;
}

footer {
  background: $nav-background;
  color: $nav-text;
  display: flex;
  flex: 0 1 45px;
  justify-content: center;
  order: 3;
  text-align: center;
  width: 100%;

  button {
    background: $button-background;
    color: $button-text;
    font-family: $button-font;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 3px;
  }

  .footer-btn {
    background: $button-background;
    color: $button-text;
    font-family: $button-font;
    font-size: 1em;
    font-weight: 600;
    margin: 6px 3px;
  }
}

.btn:active:focus,
.big-button:active:focus,
.submit.active:focus,
 {
  background-color: $olive-green;
  color: $off-white;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.big-button:hover,
.big-button:focus,
.big-button:active,
.big-button.active,
.submit:hover,
.submit:focus,
.submit:active,
.submit.active {
  background: $spring-green;
  color: $off-white;
}

.input-group .form-control {
  float: none;
}
