$navbar-height: 65px;

html {
  height: 100%;
}

body {
  background: $body-background;
  color: $body-text;
  display: flex;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

nav {
  background: $nav-background;
  color: $nav-text;
  display: flex;
  flex: 0 1 65px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;

  .nav-content {
    align-items: center;
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    width: 95%;

    .nav-title {
      order: 1;
      padding: 20px;
      width: 80%;
    }

    .nav-menu {
      order: 2;
      text-align: right;
      width: 20%;
    }
  }
}

.container-main {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;

  .view-box {
    margin: 0 auto;
    // flex: 0.8 1 auto;
    width: 80%;
  }

  button,
  .submit {
    background: $button-background;
    color: $button-text;
    margin-bottom: 3px;
    font-size: 1.2em;
    font-weight: bold;
  }

  .big-button {
    font-size: 1.3em;
    font-weight: bold;
    height: 60px;
    width: 90%;
  }

  .add-more,
  .remove-me {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 3px;
    padding: 1px;
    text-align: center;
    width: 10%;
  }

  form {
    margin: 20px 0;
  }

  input {
    border-radius: 3px;
    color: $form-text;
    margin: 3px auto;
    width: 90%;
  }

  .name-input {
    display: inline-block;
    width: 85%;
    // height: 3
  }

  legend {
    color: $body-text;
    font-size: 2em;
  }
}

.button-spacer {
  height: 60px;
}

.shares-list {
  font-size: 1.5em;
}
