$fredoka: 'Fredoka One', cursive;
$patrick: 'Patrick Hand', cursive;
$fugaz: 'Fugaz One', cursive;
$titillium: 'Titillium Web', sans-serif;

$header-font: $fugaz;
$body-font: $titillium;
$button-font: $titillium;
